.icons {
  display: flex;
  justify-content: space-between;
  width: 350px;
  padding-left: 10px;
}

.icons > *:nth-last-child(1) {
  background-color: red;
  border: 1px solid red;
  width: 30px;
}

.icons > * {
  border: 1px solid rgb(93, 93, 93);
  border-radius: 45%;
  background-color: rgb(93, 93, 93);
  padding: 8px;
}

.icons > *:hover {
  background-color: rgb(103, 138, 139);
}

.icons > *:nth-last-child(2) {
  background-color: rgb(93, 93, 93);
  border: 1px solid rgb(93, 93, 93);
  width: 25px;
  height: 25px;
}

.icons > *:nth-last-child(2):hover {
    background-color: rgb(103, 138, 139);
}